$linkColor: rgb(255, 255, 255);
$buttonColor: rgb(214, 157, 252);
$captionColor: rgba(17, 15, 15, 0.4);

.photo-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: "hidden";
}

.photo-app h2,
h1, p{
  color: $captionColor;
  font-size: 1.5rem;
.details-container {
  display: inline-block;
  padding-top: 30px;
  .title-text {
    color: $captionColor;
    font-size: 1.5rem;
  }
}}


.home-link {
  display: inline-block;
  margin-top: 30px;
  padding: 1rem 2.5rem;
  border-radius: 1.75rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, $buttonColor 0%, #cfcece 100%);
  box-shadow: 0 1rem 1rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgb(104, 15, 155) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(118, 70, 207) inset;
  text-decoration: none;
  span {
    color: transparent;
    background-image: linear-gradient(0deg, $linkColor 0%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
  }

  opacity: 1;

  transition: opacity 0.25s;

  &:hover {
    opacity: 0.6;
  }
}

.photo-app {
  margin: 0 auto;
  max-width: 900px;
}
.photo-grid {
  list-style: none;
  display: grid;
  height: auto;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-gap: 10px;
}

.thumbnail {
  width: 150px;
  height: 150px;

  :hover {
    opacity: 0.54;
  }
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
  letter-spacing: 2;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 100px;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 2.5em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1rem #ec58f1, -0.2rem 0.1rem 1rem #ce65ff,
    0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 1rem #cf4ef7, 0 0.5rem 2rem #cc24ff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65f7;
    text-shadow: none;
  }
  82%,
  97% {
    color: #464444;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #73227a;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #f824ff, 0 0.5rem 3rem #ba24ff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
